/*Configuration for page sections*/
.header{
	left: 0;
	top: 0;
	position: fixed;
	width: 100%;
	background-image: linear-gradient(to right, #f97575, #6b06ba);
	z-index: 5;
}

.main{
	padding-top: 160px;
	right: 0;
	overflow-x: hidden;
	z-index: 1;
}

/*Keeps the icons within the navigation bar*/
.icon{
	height: 100%;
	width: 7.5%;
}

body{
	background-color: black;
	overflow-x: hidden;
}


div{
	display: flex;
	word-break: break-all;
	width: 100%;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h1{
	color: white;
	font-family: 'Turret Road', sans-serif;
	font-weight: bold;
	padding-left: 50px;
}

a:link {
	text-decoration: none;
	color: white;
}

a:visited{
	text-decoration: none;
	color: white;
}

input{
	width: 100%;
}

p{
	color: #f97575;
	font-family: 'Roboto Mono', sans-serif;
}