* {box-sizing: border-box;}

.container{
	position: relative;
	width: 330px;
	height: 330px;
	margin-left: 50px;
	margin-top: 2.5px;
	z-index: 1;
}

.overlay{
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 100%;
	transition: .5s ease;
	opacity: 0;
	color: white;
	font-size: 14px;
	font-family: 'Roboto Mono', sans-serif;
	padding: 20px;
	text-align: justify;
	z-index: 10;
}

.container:hover .overlay{
	opacity: 1;
}

.grid{
	display: grid;
	margin: 5px;
	float: left;
	width: auto;
}

img{
	width: 330px;
	height: 330px;
	display: block;
}